/*
=========================
        VARIABLES
=========================
*/

:root {
    --col-white-gray: #f7f7f7;
    --col-light: #f8f9fa;
    --col-orange: #fba70b;
    --col-orange-dim: #f4813f;
    --col-gray: #7a7a7a;
    --col-red: #f1556a;
    --col-orange-darken: #fd7e14;
    --col-gray-shadow: rgba(0, 0, 0, 0.06);
    --col-gray-darker: rgba(0, 0, 0, 0.2);
}


/*
=========================
        END OF VARIABLES
=========================
*/